:root {
    --background-colour: #FFFFFF;
    --text-colour:#494F4F;
    --border-gray: #777777;
    --nice-red: #ed5045;
    --slight-gray: #d1d1d1;
}

html{
    background-color: var(--background-colour);
}

.app{
    color: var(--text-colour);
    text-decoration: none !important;
}

.page{
    margin: 1rem 55px;
    width: 50%;
}

.galleryimage{
    margin: 1.5rem;
}