:root {
    --background-colour: #FFFFFF;
    --text-colour:#494F4F;
}

html{
    background-color: var(--background-colour);
}

.app{
    color: var(--text-colour);
    font-family: "Segoe UI", serif
}

.page{
    margin: 1rem 55px;
    width: 50%;
}