:root {
    --background-colour: #FFFFFF;
    --text-colour:#494F4F;
    --border-gray: #777777;
    --nice-red: #ed5045;
    --slight-gray: #d1d1d1;
    --embed-gray: #ececec;

    --yellow: #ffd966;
    --yellow-light: #fff2cc;
    --green: #b6d7a8;
    --green-light: #d9ead3;
    --blue: #a4c2f4;
    --blue-light: #c9daf8;
    --purple: #b4a7d6;
    --purple-light:#d9d2e9;
    --red:#ea9999;
    --red-light:#f4cccc;
    --gray:#999999;
    --gray-light:#b7b7b7;
}

html{
    background-color: var(--background-colour);
}

.app{
    color: var(--text-colour);
    text-decoration: none !important;
}

.page{
    margin: 1rem 55px;
    width: 50%;
}

.galleryimage{
    margin: 1.5rem;
}

